<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Sign Up</title>
    <link rel="stylesheet" href="login-signup.css">
</head>

<body>
    <div class="main">
        <input type="checkbox" id="chk">

        <!-- Sign Up -->
        <div class="signup">
            <form>
                <label for="chk" aria-hidden="true">Sign Up</label>
                <input type="text" name="txt" placeholder="User Name ..." required>
                <input type="email" name="email" placeholder="Email ..." required>
                <input type="password" name="pswd" placeholder="Password ..." required>
                <button>Sign Up</button>
            </form>
        </div>

        <!-- Login -->
        <div class="login">
            <form>
                {% csrf_token %}
                <label for="chk" aria-hidden="true">Login</label>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="pswd" placeholder="Password" required>
                <button>Login</button>
            </form>
        </div>

    </div>

</body>

</html>