{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block 'title' %}services-detail{% endblock 'title' %}
{% block 'content' %}

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('{% static 'assets/img/page-header.jpg' %}');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Service Details</h2>
              <p>Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Service Details</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Service Details Section ======= -->
    <section id="service-details" class="service-details">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="services-list">
              {% for  obj in service_detail.category.all  %}
              <a href='' class="active">{{obj.title}}</a>
              {% endfor %}
            </div>
            <h4>{{service_detail.name}}</h4>
            <p>{{service_detail.content}}</p>
          </div>
          <div class="col-lg-8">
            <img src={{service_detail.image.url}} alt="" class="img-fluid services-img">
            <h3>{{service_detail.title}}</h3>
            <p>
              {{service_detail.description}}
            </p>
            <ul>
              {% for obj in service_detail.generals.all %}
              <li><i class="bi bi-check-circle"></i> <span>{{obj.title}}</span></li>
              {% endfor %}
            </ul>
            <p>
              {{service_detail.price|intcomma}}
            </p>
            <p>
              Sunt rem odit accusantium omnis perspiciatis officia. Laboriosam aut consequuntur recusandae mollitia doloremque est architecto cupiditate ullam. Quia est ut occaecati fuga. Distinctio ex repellendus eveniet velit sint quia sapiente cumque. Et ipsa perferendis ut nihil. Laboriosam vel voluptates tenetur nostrum. Eaque iusto cupiditate et totam et quia dolorum in. Sunt molestiae ipsum at consequatur vero. Architecto ut pariatur autem ad non cumque nesciunt qui maxime. Sunt eum quia impedit dolore alias explicabo ea.
            </p>
          </div>
        </div>
      </div>
    </section><!-- End Service Details Section -->
  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  {% endblock 'content' %}